body {
    margin: 0px;
   
}

.container{
    display: grid;
    height: 100vh;
    gap: 5px;
    padding: 2px 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 5fr 0.5fr;
    grid-template-areas: 
        'hd hd hd'
        'nv nv nv'
        's1 s2 s3'
        'ft ft ft';

}

header {
    grid-area: hd;
    background-image: url(../img/djur/sky.png);
    text-decoration: aliceblue;
    padding: 1rem;
    text-align: center;
    font-size:1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}



a:hover{
    background-color: rgb(205, 203, 209);
}




nav {
    grid-area: nv;
    background-image: url(../img/djur/sky.png);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    font-size:1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


section{
    background-size: 100% 100%;
    background-color:  rgb(220, 220, 219);
}



#sn1 {
    grid-area: s1;
    background-image: url(../img/djur/fin-giraff.jpg);

}

#sn2 {
    grid-area: s2;
    text-align: center;
}

#sn3{
    grid-area: s3;
    background-image: url(../img/djur/sitter.png);
}

footer {
    grid-area: ft;
    background-color: rgb(220, 220, 219);
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container1 {
    padding: 2px 16px;
  }


  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }
