body {
    margin: 0px;
    background-color:rgb(170, 125, 93);
   
}

.container{
    display: grid;
    height: 100vh;
    gap: 5px;
    padding: 2px 16px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.5fr 1fr 5fr 0.5fr;
    grid-template-areas: 
        'hd hd hd'
        'nv nv nv'
        's1 s2 s3'
        'ft ft ft';

}

/* header{
    grid-area: hd;
    background-image: url(../img/djur/sky.png);
    text-decoration: aliceblue;
    gap: 5px;
    padding: 2px 16px;
    text-align: center;
    font-size:1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}



a:hover{
    background-color: rgb(205, 203, 209);
}




nav {
    grid-area: nv;
    background-image: url(../img/djur/sky.png);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    font-size:1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
} */

header{
    grid-area: hd;
    display: flex;
    justify-content: center;
    background-color: rgb(169, 125, 93);
    /* background-image: url(../img/djur/sky.png); */
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

nav{
    grid-area: nv;
    display: flex;
    background-color: rgb(169, 125, 93); 
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    justify-content: space-evenly;
    align-items: center;
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*border-style: solid;*/
    color: rgb(32, 22, 22);
    text-decoration: none;
}

a:hover{
    background-color: rgb(205, 203, 209);
}

section{
    background-size: 100% 100%;
    background-color:  rgb(220, 220, 219);
}



#sn1 {
    grid-area: s1;
    background-image: url(../img/djur/fin-giraff.jpg);

}

#sn2 {
    grid-area: s2;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(156, 159, 132);
    font-size: 1.5rem;

    

    
}

#sn3{
    grid-area: s3;
    background-image: url(../img/djur/sitter.png);
}

footer {
    grid-area: ft;
    background-color:beige;
}



.card{
    width: 15%;
    height: 55%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.container2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img{
    border-radius: 10px 10px 0 0;
}

#container3{
    display: grid;
    height: 100vh;
    
    background-position-y: -70px;
    grid-template-rows: 10% 7.5% 1fr 1.25fr;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    'hd hd'
    'nv nv'
    's as1'
    's as2'
}

.s{
    grid-area: s;
    padding: 20px;
}

iframe{
    height: 100%;
    width: 100%;
}

.as1{
    grid-area: as1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.as2{
    grid-area: as2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.anst{
    width: 100%;
}

p{
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4);

}




    
