body {
    margin:0rem;
    background-color:rgb(170, 125, 93);
   
}

.container{
    display: grid;
    height: 100vh;
    gap: 5px;
    padding: 2px 16px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.5fr 1fr 5fr 0.5fr;
    grid-template-areas: 
        'hd hd hd'
        'nv nv nv'
        's1 s2 s3'
        'ft ft ft';

}


header{
    grid-area: hd;
    display: flex;
    justify-content: center;
    background-color: rgb(169, 125, 93);
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

nav{
    grid-area: nv;
    display: flex;
    background-color: rgb(169, 125, 93); 
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    justify-content: space-evenly;
    align-items: center;
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(32, 22, 22);
    text-decoration: none;
}

a:hover{
    background-color: rgb(205, 203, 209);
}

section{
    background-size: 100% 100%;
    background-color:  rgb(220, 220, 219);
}

#sn1 {
    grid-area: s1;
    background-image: url(../img/djur/fin-giraff.jpg);
}

#sn2 {
    grid-area: s2;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    background-color: rgb(156, 159, 132); 
    font-size: 1.5rem;   
}

#sn3{
    grid-area: s3;
    background-image: url(../img/djur/sitter.png);
}

footer {
    grid-area: ft;
    background-color: rgb(156, 159, 132);
}


.meny{
    display: grid;
    height: 100vh;
    gap: 5px;
    padding: 2px 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 4fr 4fr 0.5fr ;
    grid-template-areas:
        'hd hd hd hd'
        'nv nv nv nv'
        'me me me me'
        've ve ve ve'
        'de de de de'
        'ft ft ft ft' ;
}

header{
    grid-area: hd;
    display: flex;
    justify-content: center;
    background-color: rgb(169, 125, 93);
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

nav{
    grid-area: nv;
    display: flex;
    background-color: rgb(169, 125, 93); 
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    justify-content: space-evenly;
    align-items: center;
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(32, 22, 22);
    text-decoration: none;
}

a:hover{
    background-color: rgb(205, 203, 209);
}


h1{
    grid-area: h1;
    
}


.meat{
    display:grid;
    height:70vh;
    grid-area:me;
    margin: 2.5rem;
    background-color:  rgb(169, 125, 93);
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr ;
    grid-template-areas:
        'm1 m2 m3';

}


#m1{
    grid-area: m1;
    background-image: url(../img/mat/vitmeat.png);
    background-size: 100% 100%;
}

#m2{
    grid-area: m2;
    background-image: url(../img/mat/hamb.png);
    background-size: 100% 100%;
}

#m3{
    grid-area: m3;
    background-image: url(../img/mat/ribs.png);
    background-size: 100% 100%;
}

.t1 {
    font-family: ralway;
    text-align: center;
}

.t2 {
    font-family: ralway;
    text-align: center;
}

.t3 {
    font-family: ralway;
    text-align: center;
}

.veg{
    display:grid;
    height:70vh;
    grid-area:ve;
    margin: 2.5rem;
    background-color:  rgb(169, 125, 93);
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr ;
    grid-template-areas:
        'v1 v2 v3';
}

#v1{
    grid-area: v1;
    background-image: url(../img/mat/lagpizza.png);
    background-size: 100% 100%;
}

#v2{
    grid-area: v2;
    background-image: url(../img/mat/cpizza.png);
    background-size: 100% 100%;
}

#v3{
    grid-area: v3;
    background-image: url(../img/mat/tpizza.png);
    background-size: 100% 100%;
}

.te1 {
    font-family: ralway;
    text-align: center;
}

.te2 {
    font-family: ralway;
    text-align: center;
}

.te3 {
    font-family: ralway;
    text-align: center;
}


.des{
    display:grid;
    height:70vh;
    grid-area:de;
    margin: 2.5rem;
    background-color:  rgb(169, 125, 93);
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr ;
    grid-template-areas:
        'd1 d2 d3';
}

#d1{
    grid-area: d1;
    background-image: url(../img/mat/efterätt.jpg);
    background-size: 100% 100%;
}

#d2{
    grid-area: d2;
    background-image: url(../img/mat/jordv.png);
    background-size: 100% 100%;
}

#d3{
    grid-area: d3;
    background-image: url(../img/mat/muffin.png);
    background-size: 100% 100%;
}

.tex1 {
    font-family: ralway;
    text-align: center;
}

.tex2 {
    font-family: ralway;
    text-align: center;
}

.tex3 {
    font-family: ralway;
    text-align: center;
}

/* ------------------------------------------------------------------------------------- */
.om_oss{
    display: grid;
    height: 100vh;
    gap: 5px;
    grid-template-columns: 1fr 1fr 5fr 1fr;
    grid-template-rows: 0.5fr 2fr 3fr 0.5fr;
    grid-template-areas:
        'hd hd hd hd'
        'nv nv nv nv'
        'pr pr pr pr'
        'ft ft ft ft';
}

header{
    grid-area: hd;
    display: flex;
    justify-content: center;
    background-color: rgb(169, 125, 93);
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

nav{
    grid-area: nv;
    display: flex;
    background-color: rgb(169, 125, 93); 
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    justify-content: space-evenly;
    align-items: center;
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(32, 22, 22);
    text-decoration: none;
}

a:hover{
    background-color: rgb(205, 203, 209);
}


.personer {
    display:grid;
    height:70vh;
    grid-area:pr;
    margin: 2.5rem;
    background-color:  rgb(169, 125, 93);
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr;
    grid-template-areas:
        'p1 p2 p3';
}


#p1{
    grid-area: p1;
    background-image: url(../img/persons/avatar-1b1afc16e9bc79edbb292d32abbc2a86.jpg);
    background-size: 100% 100%;
}

#p2{
    grid-area: p2;
    background-image: url(../img/persons/avatar-a23eed54c62b7e55dea7606998af0c9a.jpg);
    background-size: 100% 100%;
}

#p3{
    grid-area: p3;
    background-image: url(../img/persons/avatar-d54eda9dcb9e319bb2b77b6e76cae8fc.jpg);
    background-size: 100% 100%;
}

.text1 {
    font-family: ralway;
    text-align: center;
}

.text2 {
    font-family: ralway;
    text-align: center;
}

.text3 {
    font-family: ralway;
    text-align: center;
}

footer {
    grid-area: ft;
    background-color:beige;
}

